.vscode/launch.json
.vscode/tasks.json
MyXmlEditProject/MyXmlEditProject.csproj
MyXmlEditProject/bin/Debug/net7.0/EPPlus.dll
MyXmlEditProject/bin/Debug/net7.0/EPPlus.Interfaces.dll
MyXmlEditProject/bin/Debug/net7.0/EPPlus.System.Drawing.dll
MyXmlEditProject/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
MyXmlEditProject/bin/Debug/net7.0/Microsoft.Extensions.Configuration.dll
MyXmlEditProject/bin/Debug/net7.0/Microsoft.Extensions.Configuration.FileExtensions.dll
MyXmlEditProject/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Json.dll
MyXmlEditProject/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Abstractions.dll
MyXmlEditProject/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Physical.dll
MyXmlEditProject/bin/Debug/net7.0/Microsoft.Extensions.FileSystemGlobbing.dll
MyXmlEditProject/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
MyXmlEditProject/bin/Debug/net7.0/Microsoft.IO.RecyclableMemoryStream.dll
MyXmlEditProject/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
MyXmlEditProject/bin/Debug/net7.0/MyXmlEditProject
MyXmlEditProject/bin/Debug/net7.0/MyXmlEditProject.deps.json
MyXmlEditProject/bin/Debug/net7.0/MyXmlEditProject.dll
MyXmlEditProject/bin/Debug/net7.0/MyXmlEditProject.pdb
MyXmlEditProject/bin/Debug/net7.0/MyXmlEditProject.runtimeconfig.json
MyXmlEditProject/bin/Debug/net7.0/System.Drawing.Common.dll
MyXmlEditProject/bin/Debug/net7.0/System.Security.Cryptography.Pkcs.dll
MyXmlEditProject/bin/Debug/net7.0/runtimes/win/lib/net7.0/Microsoft.Win32.SystemEvents.dll
MyXmlEditProject/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Drawing.Common.dll
MyXmlEditProject/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Security.Cryptography.Pkcs.dll
MyXmlEditProject/obj/launch.json
MyXmlEditProject/obj/MyXmlEditProject.csproj.nuget.dgspec.json
MyXmlEditProject/obj/MyXmlEditProject.csproj.nuget.g.props
MyXmlEditProject/obj/MyXmlEditProject.csproj.nuget.g.targets
MyXmlEditProject/obj/project.assets.json
MyXmlEditProject/obj/project.nuget.cache
MyXmlEditProject/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MyXmlEditProject/obj/Debug/net7.0/apphost
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.AssemblyInfo.cs
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.AssemblyInfoInputs.cache
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.assets.cache
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.csproj.AssemblyReference.cache
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.csproj.CopyComplete
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.csproj.CoreCompileInputs.cache
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.csproj.FileListAbsolute.txt
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.dll
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.GeneratedMSBuildEditorConfig.editorconfig
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.genruntimeconfig.cache
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.GlobalUsings.g.cs
MyXmlEditProject/obj/Debug/net7.0/MyXmlEditProject.pdb
MyXmlEditProject/obj/Debug/net7.0/ref/MyXmlEditProject.dll
MyXmlEditProject/obj/Debug/net7.0/refint/MyXmlEditProject.dll
OriginalXML.xml
